<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email</title>
  </head>
  <style>
    .container {
      max-width: 600px;
      width: 100%;
      border-radius: 10px;
      background-color: white;
      display: block;
      margin: 0 auto;
    }
  </style>
  <body>
    <div
      style="
        width: 100%;
        padding: 20px;
        background-color: #f1f3f5;
        display: block;
      "
    >
      <div class="container">
        <div
          style="padding: 10px; border-bottom: 1px solid #f1f3f5; width: 100%"
        >
          <img
            src="https://i.ibb.co/yN5hBCt/logo.png"
            alt="logo-image"
            width="85"
            height="45"
          />
        </div>
        <div
          style="
            font-family: Arial, sans-serif;
            padding: 15px 10px;
            color: #333333;
            font-size: 16px;
          "
        >
          <p>Hi <%= name %>,</p>
          <p>Use the code below to create a new password for your account.</p>
          <p>This code expires in 10 minutes.</p>
          <p
            style="
              padding: 15px;
              border-radius: 15px;
              text-align: center;
              font-size: 18px;
              background-color: #ced4da;
              font-weight: 600;
            "
          >
            <%= otp %>
          </p>
          <div style="display: flex; align-items: center">
            <p style="margin-right: 10px">Didn't request this code?</p>
            <p>
              <a
                href="mailto:support@tickethive.com"
                style="color: rgba(131, 66, 255, 1); text-decoration: none"
                >Contact us.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
